rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
//  match/{document=**} means match a path to any collection or document this point onwards
    match /documents/{document=**} {
      // allow read, write;

      // only allow to create if logged in (authenticated)
      allow create: if request.auth != null;

      // only allow read, delete, update docs that match the user UID
      allow read, delete, update: if request.auth.uid == resource.data.uid;
    }
  }
}