

  .create-doc .form {
    font-family: "Poppins", sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    /* background-color: #000000; */
  }
  
  @media (prefers-color-scheme: dark) {
    .create-doc form {
      color: #fcfcfd;
    }
  }
  

  .create-doc label {
    /* display: block; */
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    ;
  }
  .create-doc input {
    /* display: block; */
    height: 50px;
    width: 100%;
    -webkit-backdrop-filter: blur(16px) saturate(99%);
    background-color: rgb(240 240 240 / 31%);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    border: none;
  }


  
  ::placeholder {
    color: #1b1b1b;
  }
  
  @media (prefers-color-scheme: dark) {
    ::placeholder {
      color: #e5e5e5;
    }
  }


  
  .create-doc .button {
    margin: 10px;
    width: 40%;
    background-color: #4b5663;
    border-color: #4b5663;
    box-shadow: 0 1px 1px rgb(18 21 26 / 8%);
    color: #ffffff;
    border-color: #6b7280;
    padding: 5px 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }

  .create-doc .submit-button {
    margin: 10px;
    width: 40%;
    background-color: #2ea44f;
    border-color: #2ea44f;
    box-shadow: 0 1px 1px rgb(18 21 26 / 8%);
    color: #ffffff;
    /* border-color: #6b7280; */
    padding: 5px 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }

  .create-doc .notes {
    height: 150px;
    width: 100%;
    -webkit-backdrop-filter: blur(16px) saturate(99%);
    background-color: rgb(240 240 240 / 31%);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    border: none;
  }